body {
  background-color: #E07A5F;
  font-family: "Playfair Display SC";
}

/* nav bar */
.nav {
  display: flex;
  flex-direction: row;
  color: #254630;
  justify-content: space-between;
  margin: 2em;
}

.nav p {
  color: #fff;
  font-size: 1.5em;
}

/* container on home page */
.outer-container {
  padding-top: 3em;
  justify-items: center;
}

.outer-container h1 {
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: .5em;
}

.container {
  width: 47rem;
  height: 25rem;
  border-radius: 3rem;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px 0px #00000040;
  justify-items: center;
  align-content: center;
}

.smaller-container {
  width: 42rem;
  height: 20rem;
  border-radius: 1.25rem;
  border: 1px dashed #9F9F9F;
  background: #d6d6d600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.smaller-container img {
  max-width: 20%;
  /* Ensures image doesn't overflow */
  margin-left: auto;
  margin-right: auto;

}

.smaller-container span {
  color: #912121;
}


@media (prefers-reduced-motion: no-preference) {}