body {
  background-color: #e07a5f;
  font-family: "Playfair Display SC";
}

/* nav bar */
.nav {
  display: flex;
  flex-direction: row;
  color: #254630;
  justify-content: space-between;
  margin: 2em;
}

.nav-home {
  display: flex;
  flex-direction: row;
  color: #254630;
  font-size: 2.5em;
  text-decoration: none;
  align-items: anchor-center;
}

.nav-link {
  display: flex;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  align-items: flex-end;
}

/* container on home page */
.outer-container {
  padding-top: 3em;
  justify-items: center;
}

.outer-container h1 {
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 0.5em;
}

.container {
  width: 47rem;
  height: 25rem;
  border-radius: 3rem;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #00000040;
  justify-items: center;
  align-content: center;
}

.smaller-container {
  width: 42rem;
  height: 20rem;
  border-radius: 1.25rem;
  border: 1px dashed #9f9f9f;
  background: #d6d6d600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.smaller-container img {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.smaller-container span {
  color: #912121;
}

.file-input {
  display: none;
}

/* faq page */
.book-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  height: 88vh;
  color: #fff;
}

.book-container {
  width: 90rem;
  height: 50rem;
  background-color: #f5f5f5;
  border-radius: 3.125rem 3.125rem 0rem 0rem;
  color: #000000;
}

.book-container h2 {
  font-size: 2em;
  margin-top: 3.5em;
  margin-left: 3.5em;
}

.book-container ul {
  list-style-type: disc;
  padding-left: 2rem;
  font-size: 1.5em;
}

.book-container li {
  flex-wrap: wrap;
  width: 30em;
  margin-bottom: 0.5rem;
  margin-left: 5em;
}

.filter {
  background-color: #d9d9d9;
  width: 16em;
  height: 40em;
  margin-top: 0;
  border-radius: 3.125rem 0rem 0rem 0rem;
}

@media (prefers-reduced-motion: no-preference) {
}
